.profile-card {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 30px;
    background-color: #362b3d; /* Un tono oscuro para resaltar */
    border-radius: 12px;
    color: var(--color-text);
    width: 1100px;
    height: 120px;
    margin-left: auto;  /* Empuja desde la izquierda */
    margin-right: auto; /* Empuja desde la derecha */
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    animation: fadeIn 0.4s ease;
    border: 2px solid var(--color-secondary);
}

.avatar-wrapper {
    position: relative;
    width: 80px;
    height: 80px;
}

.avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover;
    border: 2px solid var(--color-secondary); /* Borde estilo interfaz de Genshin */
    background-color: #4a5265;
}

.ar-badge {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffc107; /* Color dorado para el AR */
    color: #333;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 10px;
    white-space: nowrap;
    border: 1px solid #333;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-name {
    margin: 0;
    font-size: 1.4rem;
}

.profile-signature {
    margin: 4px 0 0 0;
    font-size: 0.9rem;
    color: #b5bdc4;
    font-style: italic;
}

.refresh-btn {
    margin-left: auto;
    padding: 8px 16px;
    background-color:   #bca992;
    color: #362b3d;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity:0;
    transform: translateY(10px);
  }
  to {
    opacity:1;
    transform: translateY(0);
  }
}

@media (max-width: 1100px) {
    .profile-card {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: auto;
        padding: 16px;
    }

    .avatar-wrapper {
        width: 100px;
        height: 100px;
    }

    .profile-info {
        align-items: center;
        text-align: center;
    }
    .refresh-btn {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

