@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Esto ayuda a que el padding no rompa el ancho */
}

:root {
  --color-primary: #2d2c44;
  --color-secondary: #b3a596;
  --color-text: #eee6e4;
}

body, html {
    width: 100%;
    overflow-x: hidden; /* Evita que aparezca una barra de scroll horizontal */
    min-height: 100vh;
    background: linear-gradient(to top, #334089 0%, #332d4a 100%);
}